body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.headline {
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  padding: 65px 0 33px 0;
  color: #464646;
}

.header {
  margin: 13px 0;
}

.top-nav_menu {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav_menu li {
  margin-right: 35px;
}

.top-nav_menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
  font-weight: 500;
  font-size: 11px;
}

.top-nav_menu a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border: 1px solid #464646;
  color: #464646;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top-nav_menu a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.phone p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.phone a {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
}

.phone a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border: 1px solid #464646;
  color: #464646;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.phone a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn {
  background-color: #7AD66C;
  border-radius: 100px;
  color: #fff;
}

.header-btn {
  padding: 13px 22px;
  font-size: 14px;
  font-weight: 400;
}

.wallpaper {
  background: #fff url(../img/main_Fons.png) no-repeat;
  background-size: cover;
}

.main-headline {
  padding-bottom: 59px;
}

.main-headline h1 {
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  padding-top: 66px;
  padding-bottom: 30px;
}

.strong strong {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.91px;
}

.form {
  width: 716px;
  margin-bottom: 97px;
}

.form .two-headline h2 {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 28px;
  text-align: center;
}

.phone {
  display: inline-block;
}

.phone .name, .phone .phone {
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 15px 110px 15px 55px;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  background-color: #fff;
}

.phone .name {
  background: url(../img/name.png) no-repeat left center;
  background-position: 22px;
  background-color: #fff;
  margin-left: 45px;
}

.phone .phone {
  background: url(../img/phone.png) no-repeat left center;
  background-position: 22px;
  background-color: #fff;
}

.phone .button-book {
  padding: 16px 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  display: block;
  margin: 25px 0 0 186px;
}

.three_strongs {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 19px;
}

.three_strongs strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 26px;
  margin-bottom: 19px;
}

.three_btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.04px;
  padding: 10px 15px;
  margin-bottom: 93px;
}

.service {
  background-color: #F5F6F7;
}

.str_green {
  color: #7AD66C;
  font-size: 16px;
  font-weight: 500;
}

.three_images {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  color: #464646;
  display: block;
  margin: 26px 0 19px 0;
}

.three_btn strong {
  padding: 15px 8px;
}

.four_deadline p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #464646;
  text-align: justify;
}

.four_service {
  padding-bottom: 69px;
}

.four_service strong {
  margin-bottom: 15px;
}

.lef {
  margin-right: 30px;
}

.rig {
  margin-left: 30px;
}

.gg {
  padding: 85px 0 104px 30px;
}

.gg p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.gg strong {
  color: #7AD66C;
  font-size: 21px;
  font-weight: 500;
}

.practice {
  background-color: #F5F6F7;
}

.pract../img p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: justify;
}

.pract../img strong {
  font-size: 16px;
  font-weight: 500;
  color: #7AD66C;
}

.help {
  margin: 65px 0;
}

.help h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #7AD66C;
}

.help p {
  text-align: justify;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.help strong {
  font-size: 16px;
}

.duplicate {
  background: url(../img/3-layers.png) center center no-repeat;
  background-size: cover;
}

.wallppr {
  padding: 89px 0 0 0;
}

.wallppr h2 {
  font-weight: 700;
  line-height: 34px;
}

.duplicate h2 {
  padding: 89px 0 57px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  color: #fff;
}

.formcontent {
  width: 716px;
  margin-bottom: 73px;
}

.connection {
  margin: 66px 0 88px 90px;
}

.connect p {
  padding-left: 25px;
}

.google_maps {
  padding-bottom: 91px;
}

footer {
  padding: 35px 0 44px 0;
  background-color: #F5F6F7;
}

footer p {
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.text {
  font-family: Bold();
  font-weight: 700;
  color: #7AD66C;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */